In [6]:
import pandas as pd

df = pd.read_csv('data.csv')
df

   name surename  age        id
0  alex      mtz   26  88888888
1   dan      mac   24  99999999
2  ever      art   31  19191919

In [7]:
df.to_csv('transf.csv', header=False,index=False, mode="w")